*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 5vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;

}

header a{
    font-size: 1.3rem;
    color: #212121;
    text-decoration: none;
    padding: 1.5rem 1.2rem;
}

.container-top{
    padding: 0.6rem;
    display: flex;
    align-items: center;
}

.logo svg{
    fill: #5F6368;
    width: 2.4rem;
    height: 2.4rem;
}

.perfil{
    width: 3.2rem;
    height: 3.2rem;
    content: url(https://images.8tracks.com/cover/i/010/266/937/740347-9956.jpg?rect=0,0,3368,3368&q=98&fm=jpg&fit=max&w=960&h=960);
    border-radius: 50%;
    object-fit: cover;
}

main{
    width: 100%;
    height: 85vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure img{
    max-width: 100%;
    max-height: 100%;
    width: 30rem;
}

.container-search{
    width: 56rem;
    height: 3.9rem;
    border: solid 1px #EAEAEA;
    border-radius: 2.4rem;
    margin: 2rem;
    padding: 0.5rem 1.4rem;
    display: flex;
    justify-content:  space-between;
    align-items: center;
}

.container-search input{
    border: none;
}

.logo-search svg{
    fill: #9AA0A6;
    width: 2rem;
    height: 2rem;
}

.container-buttons{
    padding-top: 1.8rem;
}

.container-buttons button{
    width: 17rem;
    height: 3.6rem;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    border: none;
    color: #202124;
    background-color: #F8F9FA;
}

footer{
    width: 100%;
    height: 10vh;
}

.container-country{
    width: 100%;
    height: 5vh;
    background-color: #F2F2F2;
}

.container-country p{
    font-size: 1.4rem;
    color: #70757A;
    text-decoration: none;
    padding: 1.5rem;
}

.container-end{
    width: 100%;
    height: 5vh;
    background-color: #F2F2F2;
    border-top: solid 1px #DADCE0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}



.container-end a{
    font-size: 1.4rem;
    color: #70757A;
    text-decoration: none;
    padding: 1.5rem;
}

